openapi: 3.2.0
info:
  title: Zeal Contractors API
  description: Zeal is an embedded payroll-as-a-service platform.
  termsOfService: https://www.zeal.com/terms
  contact:
    name: Zeal Support
    url: https://docs.zeal.com
    email: support@zeal.com
  version: '1.0'
servers:
- url: https://api.zeal.com
  description: Zeal API (test or live selected by API key)
security:
- bearerAuth: []
tags:
- name: Contractors
paths:
  /contractors:
    post:
      operationId: createContractor
      tags:
      - Contractors
      summary: Create a contractor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractorRequest'
      responses:
        '200':
          description: The created contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
    get:
      operationId: getContractors
      tags:
      - Contractors
      summary: Get contractors
      parameters:
      - $ref: '#/components/parameters/companyID'
      responses:
        '200':
          description: A list of contractors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contractors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contractor'
    put:
      operationId: updateContractorInformation
      tags:
      - Contractors
      summary: Update contractor information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      responses:
        '200':
          description: The updated contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
  /contractors/onboard:
    get:
      operationId: getContractorOnboardingLink
      tags:
      - Contractors
      summary: Generate a contractor onboarding link
      parameters:
      - $ref: '#/components/parameters/companyID'
      - name: contractorID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A hosted onboarding link for the contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardLink'
components:
  schemas:
    CreateContractorRequest:
      type: object
      required:
      - companyID
      - type
      properties:
        companyID:
          type: string
        type:
          type: string
          enum:
          - individual
          - business
        first_name:
          type: string
        last_name:
          type: string
        business_name:
          type: string
        email:
          type: string
    Contractor:
      type: object
      properties:
        id:
          type: string
        companyID:
          type: string
        type:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        business_name:
          type: string
        onboarded:
          type: boolean
    OnboardLink:
      type: object
      properties:
        url:
          type: string
          format: uri
        expiration:
          type: string
          format: date-time
  parameters:
    companyID:
      name: companyID
      in: query
      required: true
      description: The Zeal companyID identifying the employer account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Provide your Zeal API key as a Bearer token: `Authorization: Bearer <YOUR_API_KEY>`. Use a test key for Test Mode and a live key for production. Requests are additionally scoped by a companyID passed in the body or query.'
