openapi: 3.2.0
info:
  title: Zeal Onboarding API
  description: Zeal is an embedded payroll-as-a-service platform.
  termsOfService: https://www.zeal.com/terms
  contact:
    name: Zeal Support
    url: https://docs.zeal.com
    email: support@zeal.com
  version: '1.0'
servers:
- url: https://api.zeal.com
  description: Zeal API (test or live selected by API key)
security:
- bearerAuth: []
tags:
- name: Onboarding
paths:
  /companies/onboard:
    get:
      operationId: getCompanyOnboardingLink
      tags:
      - Onboarding
      summary: Get a company onboarding link
      parameters:
      - $ref: '#/components/parameters/companyID'
      responses:
        '200':
          description: A hosted onboarding link for the company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardLink'
  /employees/onboarding:
    get:
      operationId: generateEmployeeOnboardingLink
      tags:
      - Onboarding
      summary: Generate an employee onboarding link
      parameters:
      - $ref: '#/components/parameters/companyID'
      - name: employeeID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A hosted onboarding link for the employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardLink'
  /contractors/onboard:
    get:
      operationId: getContractorOnboardingLink
      tags:
      - Onboarding
      summary: Generate a contractor onboarding link
      parameters:
      - $ref: '#/components/parameters/companyID'
      - name: contractorID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A hosted onboarding link for the contractor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardLink'
components:
  parameters:
    companyID:
      name: companyID
      in: query
      required: true
      description: The Zeal companyID identifying the employer account.
      schema:
        type: string
  schemas:
    OnboardLink:
      type: object
      properties:
        url:
          type: string
          format: uri
        expiration:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Provide your Zeal API key as a Bearer token: `Authorization: Bearer <YOUR_API_KEY>`. Use a test key for Test Mode and a live key for production. Requests are additionally scoped by a companyID passed in the body or query.'
